In [2]:
import numpy as np
import pandas as pd

In [ ]:
'''
1. cctv 데이터를 다음과 같이 만들어 cctv.csv 파일에 저장하세요.

   구별    CCTV댓수  최근증가율

1 종로구 1715         20.69
2 중구    2447         78.98
3 용산구 2611          78.64

- 첫번째 행인 계는 삭제한다.
- 최근증가율은 최근 3개년간의 CCTV 댓수의 합을 그 이전 모든 년도의 CCTV 댓수의 합으로 나눈 값으로 백분율 값이다.
(2020+2021+2022)/(2013+2014+2015+2016+2017+2018+2019) *100
- 구별은 기존의 구분 열을 CCTV댓수는 기존의 총계 열을 이름만 변경한 것이다.
'''

In [ ]:
# 1) 데이터 파일 읽기
# 2) 결측치 확인 ***꼭하기
# 3) Selection and rename 컬럼결정
# 4) Filtering - 계 데이터 삭제

In [11]:
filename = 'data/1서울시 자치구 년도별 CCTV 설치 현황_221231기준 (1).csv'
cctv = pd.read_csv(filename, encoding='euc-kr', thousands=',') # thousands 천단위 구분기호(,콤마) 제거
cctv.head()

,구분,총계,2013년 이전 설치된 CCTV,2013년,2014년,2015년,2016년,2017년,2018년,2019년,2020년,2021년,2022년
0,계,91341,2804,3097,3981,6576,8850,11566,11024,13151,11912,9144,9236
1,종로구,1980,36,540,107,161,131,158,152,69,250,85,291
2,중 구,2584,130,87,77,236,240,372,386,155,361,403,137
3,용산구,2847,44,50,68,83,295,491,115,322,623,422,334
4,성동구,4047,58,99,110,366,279,945,459,647,485,367,232

In [12]:
# 결측치 확인
cctv.isna().sum().sum()

0

In [13]:
# 계 삭제 방법1
cctv = cctv.drop(index=0,axis=0)
cctv.head()

,구분,총계,2013년 이전 설치된 CCTV,2013년,2014년,2015년,2016년,2017년,2018년,2019년,2020년,2021년,2022년
1,종로구,1980,36,540,107,161,131,158,152,69,250,85,291
2,중 구,2584,130,87,77,236,240,372,386,155,361,403,137
3,용산구,2847,44,50,68,83,295,491,115,322,623,422,334
4,성동구,4047,58,99,110,366,279,945,459,647,485,367,232
5,광진구,3480,507,82,84,64,21,465,443,709,172,662,271

In [ ]:
# 계 삭제 방법2
cctv.drop([0], inplace=True)

In [14]:
# 최근증가율 열 만들기 방법1
cctv['최근증가율'] = (((cctv['2020년']+cctv['2021년']+cctv['2022년'])\
                  /(cctv['2013년 이전 설치된 CCTV']+cctv['2013년']+cctv['2014년']+cctv['2015년']+cctv['2016년']+cctv['2017년']+cctv['2018년']+cctv['2019년'])) *100).round(2)
cctv.head(3)

,구분,총계,2013년 이전 설치된 CCTV,2013년,2014년,2015년,2016년,2017년,2018년,2019년,2020년,2021년,2022년,최근증가율
1,종로구,1980,36,540,107,161,131,158,152,69,250,85,291,46.23
2,중 구,2584,130,87,77,236,240,372,386,155,361,403,137,53.54
3,용산구,2847,44,50,68,83,295,491,115,322,623,422,334,93.94

In [15]:
# 최근증가율 열 만들기 방법2
# cctv['2020년':'2022년'] # 이렇게 쓰면 row로 인식
cctv.loc[:, '2020년':'2022년' ].sum(axis=1).head() # 행은 모두다. 컬럼슬라이싱할때...

1     626
2     901
3    1379
4    1084
5    1105
dtype: int64

In [ ]:
# 최근증가율 열 만들기 방법2
cctv['최근증가율'] = cctv.iloc[:, 10:].sum(axis=1) / cctv.iloc[:, 2:10].sum(axis=1)
cctv['최근증가율'] = (cctv['최근증가율'] *100).round(2)
cctv

In [16]:
# dataframe 새로 만들기
# 3) Selection and rename
cctv1 = cctv[['구분','총계','최근증가율']] # cctv = cctv[['구분','총계','최근증가율']] 이렇게해도됨
cctv1.head()

    구분    총계  최근증가율
1  종로구  1980  46.23
2  중 구  2584  53.54
3  용산구  2847  93.94
4  성동구  4047  36.58
5  광진구  3480  46.53

In [17]:
# coulmn명 바꾸기
import warnings
warnings.filterwarnings('ignore')

cctv1.rename(columns={
    '구분': '구별',
    '총계': 'CCTV갯수',
    '최근증가율': '최근 증가율'
}, inplace=True)

In [19]:
# 6) 구 이름에서 공백 지우기
cctv1.구별 = cctv1.구별.str.replace(' ','')
cctv1.head()

    구별  CCTV갯수  최근 증가율
1  종로구    1980   46.23
2   중구    2584   53.54
3  용산구    2847   93.94
4  성동구    4047   36.58
5  광진구    3480   46.53

In [22]:
# 내가 보고싶은 데이터
cctv2 = cctv1.head()
cctv2

    구별  CCTV갯수  최근 증가율
1  종로구    1980   46.23
2   중구    2584   53.54
3  용산구    2847   93.94
4  성동구    4047   36.58
5  광진구    3480   46.53

In [23]:
cctv2.to_csv('data/cctv.csv', index=False)
df = pd.read_csv('data/cctv.csv') # 인덱스를 다시 0,1,2,3 으로 보려면 다시 불러오면됨..
df.head()

    구별  CCTV갯수  최근 증가율
0  종로구    1980   46.23
1   중구    2584   53.54
2  용산구    2847   93.94
3  성동구    4047   36.58
4  광진구    3480   46.53

In [ ]:
'''
2. 서울시 인구 데이터를 다음과 같이 만들어 pop.csv 파일에 저장하세요.

  구별     인구수  내국인  외국인  고령자  외국인비율  고령자비율
1 종로구 153789 144683  9106    27818   5.92           18.09
2 중구    131787 122499  9288    24392   7.05           18.51
3 용산구 237285 222953  14332   39070   6.04           16.47

- 첫번째 행인 합계는 삭제한다.
- 외국인비율은 외국인 수를 총 인구수로 나눈 백분율 값이다.
- 고령자비율은 65세 이상 인구 수를 총 인구수로 나눈 백분율 값이다.
'''

In [24]:
# 파일불러오기
pop = pd.read_csv('data/서울시인구.txt', sep='\t',thousands=',',skiprows=2)  # skiprows 행 스킵해서 불러와라
pop.head()

,기간,자치구,세대,계,남자,여자,계.1,남자.1,여자.1,계.2,남자.2,여자.2,세대당인구,65세이상고령자
0,2021,합계,4426007,9736027,4721977,5014050,9509458,4618040,4891418,226569,103937,122632,2.15,1605416
1,2021,종로구,73494,153789,74186,79603,144683,70183,74500,9106,4003,5103,1.97,27818
2,2021,중구,63519,131787,64083,67704,122499,59630,62869,9288,4453,4835,1.93,24392
3,2021,용산구,111036,237285,115085,122200,222953,107210,115743,14332,7875,6457,2.01,39070
4,2021,성동구,134233,292672,142259,150413,285990,139380,146610,6682,2879,3803,2.13,46380

In [25]:
# 2) 결측치 확인 / 꼭하기
pop.isna().sum().sum()

0

In [28]:
# Selection and rename
# 합계 행 삭제
pop1 = pop.drop(index=0,axis=0)
pop1.head()
# 합계 데이터 삭제
pop.drop([0], inplace=True)

In [29]:
# 기간 열 삭제
del pop1['기간']
pop1.head()

,자치구,세대,계,남자,여자,계.1,남자.1,여자.1,계.2,남자.2,여자.2,세대당인구,65세이상고령자
1,종로구,73494,153789,74186,79603,144683,70183,74500,9106,4003,5103,1.97,27818
2,중구,63519,131787,64083,67704,122499,59630,62869,9288,4453,4835,1.93,24392
3,용산구,111036,237285,115085,122200,222953,107210,115743,14332,7875,6457,2.01,39070
4,성동구,134233,292672,142259,150413,285990,139380,146610,6682,2879,3803,2.13,46380
5,광진구,167949,352627,169317,183310,339996,164058,175938,12631,5259,7372,2.02,51723

In [ ]:
# 5) 천단위 구분기호 없애고 정수로 변환하기 
# 파일불러올때 thousands=',' 로 했는데 이런 방법도 있음
for column in pop.columns[1:]: # 구별제외라서 1:
    pop[column] = pop[column].str.replace(',','').astype(int) # 스트링값이 넘어 온것이기 때문에 pop.인구수 쓰면안돼고 pop[column]이렇게
pop.head() # pop.인구수 = pop['인구수']

In [30]:
# dataframe 새로 만들기
pop2 = pop1[['자치구','계','계.1','계.2','65세이상고령자']]
pop2.head()

   자치구       계     계.1    계.2  65세이상고령자
1  종로구  153789  144683   9106     27818
2   중구  131787  122499   9288     24392
3  용산구  237285  222953  14332     39070
4  성동구  292672  285990   6682     46380
5  광진구  352627  339996  12631     51723

In [31]:
# coulmn명 바꾸기 방법1
pop2.rename(columns={
    '자치구': '구별',
    '계': '인구수',
    '계.1': '내국인',
    '계.2': '외국인',
    '65세이상고령자': '고령자',
}, inplace=True)
# coulmn명 바꾸기 방법2
# pop2.columns = ['구별','인구수','내국인','외국인','고령자']

In [32]:
# 외국인비율,고령자비율 열(컬럼) 추가
pop2['외국인비율'] = (((pop2['외국인'])/(pop2['인구수']))*100).round(2)
pop2['고령자비율'] = (((pop2['고령자'])/(pop2['인구수']))*100).round(2)
pop2.head()
# pop['외국인비율']= (pop.외국인/ pop.인구수 *100).round(2) 이렇게 해도됨

    구별     인구수     내국인    외국인    고령자  외국인비율  고령자비율
1  종로구  153789  144683   9106  27818   5.92  18.09
2   중구  131787  122499   9288  24392   7.05  18.51
3  용산구  237285  222953  14332  39070   6.04  16.47
4  성동구  292672  285990   6682  46380   2.28  15.85
5  광진구  352627  339996  12631  51723   3.58  14.67

In [33]:
# 내가 보고싶은 데이터2
pop3 = pop2.head(3)
pop3

    구별     인구수     내국인    외국인    고령자  외국인비율  고령자비율
1  종로구  153789  144683   9106  27818   5.92  18.09
2   중구  131787  122499   9288  24392   7.05  18.51
3  용산구  237285  222953  14332  39070   6.04  16.47

In [26]:
# 데이터 파일 저장하기
pop3.to_csv('data/pop.csv', index=False, encoding='euc-kr') # 반드시 index=False index를 포함하지 않고 데이터 저장..

NameError: name 'pop3' is not defined

In [ ]:
# df = pd.read_csv('data/pop.csv') # 저장후 다시 읽어서 데이터 확인하기
# df.head()

- 두 데이터 병합

In [35]:
df = pd.merge(cctv2, pop3)
df.set_index('구별', inplace=True)
df

     CCTV갯수  최근 증가율     인구수     내국인    외국인    고령자  외국인비율  고령자비율
구별
종로구    1980   46.23  153789  144683   9106  27818   5.92  18.09
중구     2584   53.54  131787  122499   9288  24392   7.05  18.51
용산구    2847   93.94  237285  222953  14332  39070   6.04  16.47

In [36]:
df.to_csv('data/cctv_pop.csv')
vf = pd.read_csv('data/cctv_pop.csv')
vf.head()

    구별  CCTV갯수  최근 증가율     인구수     내국인    외국인    고령자  외국인비율  고령자비율
0  종로구    1980   46.23  153789  144683   9106  27818   5.92  18.09
1   중구    2584   53.54  131787  122499   9288  24392   7.05  18.51
2  용산구    2847   93.94  237285  222953  14332  39070   6.04  16.47